# Cases SQL Statements

## Connection to Database

In [1]:
%load_ext sql

In [2]:
%%sql 

sqlite:///../data/chinook.db

## Case 1: Albums to Purchase

In [8]:
%%sql

WITH track_genre_cte AS
(
    SELECT t.name AS track_name, g.name AS genre_name
    FROM track AS t
    INNER JOIN genre AS g
    ON t.genre_id = g.genre_id
    INNER JOIN invoice_line AS il
    ON il.track_id = t.track_id
    INNER JOIN invoice AS i
    ON i.invoice_id = il.invoice_id
    WHERE billing_country = 'USA'
)

SELECT genre_name, COUNT(track_name) AS tracks
FROM track_genre_cte
GROUP BY genre_name
ORDER BY tracks DESC

 * sqlite:///../data/chinook.db
Done.

[('Rock', 561),
 ('Alternative & Punk', 130),
 ('Metal', 124),
 ('R&B/Soul', 53),
 ('Blues', 36),
 ('Alternative', 35),
 ('Pop', 22),
 ('Latin', 22),
 ('Hip Hop/Rap', 20),
 ('Jazz', 14),
 ('Easy Listening', 13),
 ('Reggae', 6),
 ('Electronica/Dance', 5),
 ('Classical', 4),
 ('Heavy Metal', 3),
 ('Soundtrack', 2),
 ('TV Shows', 1)]